.listWrapper {
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
  border-radius: 5px;
  border-bottom: 1px solid var(--gray10);
}
.listItem > .listItemTitle {
  align-self: start;
  margin-top: 1rem;
}

.listItem > iframe {
  border-radius: 5px;
}

.listItemNumber {
  font-size: 1.2rem;
  color: var(--white30);
}
